<div class="accordion accordion-flush container-fluid" id="accordionFlushExample">
    <div *ngFor="let obj of data; let i = index" class="accordion-item container-fluid">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]= "getId('#flush-collapse_', i)" aria-expanded="false" aria-controls="flush-collapseOne">
                {{obj.projectTitle}}
            </button>
        </h2>
        <div id="{{getId('flush-collapse_', i)}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="container-fluid accordion-body">
                <div class="container-fluid project-title">
                    <h4>Project Description</h4>
                    <p>{{obj.projectDescription}}</p>
                </div>
                <div class="container-fluid project-title">
                    <h4>Submitter</h4>
                    <p>{{obj.submitter}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
