<div style="margin: 10%; border: solid; padding: 10px">
    <div class="mb-3">
        <label for="submissionControlInput1" class="form-label">Name of Project</label>
        <input type="email" class="form-control" id="submissionControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="submissionControlInput2" class="form-label">Who worked on it?</label>
        <input type="email" class="form-control" id="submissionControlInput2" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="submissionControlTextarea1" class="form-label">Describe your project</label>
        <textarea class="form-control" id="submissionControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Would like to demo this?</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
                Yes
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                No
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault2">
                Maybe
            </label>
        </div>
    </div>
    <div class="mb-3">
        <label for="submissionControlInput4" class="form-label">Link (If this project is live somewhere)</label>
        <input type="email" class="form-control" id="submissionControlInput4" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="submissionControlInput5" class="form-label">Github Link (If you have a code base you want to share)</label>
        <input type="email" class="form-control" id="submissionControlInput5" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="submissionControlInput6" class="form-label">Anything else</label>
        <input type="email" class="form-control" id="submissionControlInput6" placeholder="name@example.com">
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#submissionModal">
        Submit
    </button>
    <!-- Modal -->
    <div class="modal fade" id="submissionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Submission Status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>We have successfully received your submission. Stay tuned for results. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
