.modal {
  opacity: 1;
  display: block;
}

.button-fixed {
  position: fixed;
  top: 85%;
  left: 88%;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.alert {
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index:9999;
  border-radius:0px;
  text-align: center;
}
