<app-teams-info [data]="this.globalService.currQuarterTeamsData"></app-teams-info>

<!-- Modal -->
<div *ngIf="showModal" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Submit your team information</h5>
                <button (click)="toggleModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="teamName" class="form-label">Team Name</label>
                    <input type="email" class="form-control" id="teamName" [formControl]="teamName" placeholder="Ninja">
                </div>
                <div class="mb-3">
                    <label for="teamMembers" class="form-label">Team Members</label>
                    <input type="email" class="form-control" id="teamMembers" [formControl]="teamMembers" placeholder="John, Tom, Emilia">
                </div>
                <div class="mb-3">
                    <label for="projectName" class="form-label">Project Name</label>
                    <input type="email" class="form-control" id="projectName" [formControl]="projectName" placeholder="Fed-Ex Day Website">
                </div>
                <div class="mb-3">
                    <label for="projectDescription" class="form-label">Project Description</label>
                    <textarea class="form-control" [formControl]="projectDescription" id="projectDescription"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="toggleModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="saveInfo()" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<button (click)="toggleModal()" type="button" class="btn btn-primary button-fixed" data-bs-toggle="button" autocomplete="off">+</button>
<!--<app-alert [alertMessage]="alertMessage"></app-alert>-->

<div *ngIf="showAlert" class="alert alert-warning alert-dismissible show" role="alert">
    <strong>OOPS!</strong> {{alertMessage}}
    <button (click)="toggleAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>